body,
p {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

a {
    text-decoration: underline;
}

article a,
a:hover {
    text-decoration: underline !important;
}

a:focus {
    color: #77a464;
}

button:focus,
.toggled button.menu-toggle span.mhide:focus {
    background: #77a464;
}

a.button {
    border-radius: 0 !important;
    margin-left: 2px !important;
    margin-right: 2px !important;
    background: #77a464 !important;
}

a.button:hover {
    text-decoration: inherit !important;
    background: #496f39 !important;
}

a:focus,
button:focus {
    outline: 2px solid #496f39;
}

.bsgrid-item a,
.bsgrid-item article a {
    text-decoration: inherit !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    letter-spacing: inherit;
}

h1>a,
h2>a {
    color: inherit;
}

.beshop-main-nav,
.main-navigation ul ul {
    box-shadow: 0px 3px 40px rgba(0, 0, 0, 0.20);
}

.main-navigation ul ul {
    background: #fff;
}

.beshop-main-nav ul li a {
    padding: 15px 20px;
    color: #000;
    border: none;
}
.beshop-main-nav ul li a:hover {
    background: #ededed;
    color: #000;
}
.container-fluid {
    max-width: 1580px;
}

.beshop-header .site-title {
    text-transform: inherit;
    font-family: 'Bricolage Grotesque', sans-serif;
}

p.site-description {
    font-size: 20px;
}

input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin-right: 5px;
    vertical-align: middle;
}

.bs-gridh h2.entry-title {
    font-size: 18px;
}

.bs-gridh .entry-meta,
.bs-gridh .entry-meta a {
    margin-bottom: 1rem;
    font-size: 10px
}

.bsgrid-item .bshop-single-list {
    padding: 0;
}

.bshop-single-list a.post-thumbnail {
    display: block;
    overflow: hidden;
}

.bsgrid-item img {
    transform: scale(1);
    transition: 0.2s;
}

.bsgrid-item img:hover {
    transform: scale(1.2);
}

.bslite-gcontent {
    padding: 20px 10px;
}

.woocommerce ul.products li.product a img {
    border: 1px solid #ccc;
    border-radius: 5px;
}

aside#secondary {
    position: sticky;
    top: 30px;
}

.widget h2,
h3.widget-title,
h2.widget-title {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    background: #fff;
    padding: 10px 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc
}

article.sticky .bshop-single-list {
    background: #e9e9e9;
    border-radius: 40px 0 40px 0;
}

nav.navigation.pagination {
    text-align: center;
    align-items: center;
    justify-content: center;
}

nav.navigation.pagination span,
nav.navigation.pagination a {
    text-decoration: inherit;
    border: 1px solid #ccc;
    padding: 7px 10px;
    margin-right: 5px;
}

nav.navigation.pagination span,
nav.navigation.pagination a:hover {
    background: #ededed;
    text-decoration: none !important;
}

.site-footer,
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    background: #fff;
}

h1.site-title a {
    color: #4169e1;
    text-decoration: none;
    font-style: italic;
}

h1.site-title a {
    text-decoration: none;
}

.bslite-ameta {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.ameta-img img {
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    border: 2px solid #ededed;
}

.ameta-name-date span {
    display: block;
}

.ameta-name-date {
    font-size: 80%;
    line-height: inherit;
}

.ameta-name-date span:first-child {
    font-weight: 700;
    margin-bottom: 1px;
}

.bsgrid-item h2.entry-title {
    font-size: 24px;
    margin: 5px 0;
}

.bsgrid-item header.entry-header {
    margin-bottom: 10px;
}

.footer-widget a:hover,
.footer-widget a:focus,
.footer-widget a:active {
    color: #ededed
}

.footer-widget .widget-title {
    padding-left: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

@media screen and (max-width: 992px) {

    body,
    p {
        font-size: 16px;
    }

    .beshop-main-menu-container {
        background: #fff;
    }
}