/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# widget
    - sidebar
    - Box sizing


--------------------------------------------------------------*/

a {
    text-decoration: inherit;
}
a:hover {
    text-decoration: underline;
    transition: 0.5s;
}

/* header style
--------------------------------------------- */
/*Header top*/
.btop-menu,
.btop-menu ul {
    display: flex;
}

.btop-menu li {
    padding: 0 10px;
}
.beshop-tophead, 
.beshop-tophead a, 
.beshop-tophead span, 
.beshop-tophead input {
    font-size: 13px;
}
.beshop-tophead a:hover{
    color:#dedede;
}
.woocommerce fieldset {
    padding: 5px 0;
}
.topmenu-serch {
    display: flex;
    align-items: baseline;
    flex-flow: row wrap;
}
.header-top-search input[type="submit"] {
    display: none;
}

.header-top-search input[type="search"] {
    width: 100%;
    padding: 3px 7px;
}
.header-top-search {
    width: 200px;
    margin-left: 10px;
}
.header-top-search label {
    width: 100%;
    margin: 0;
}
.beshop-tophead .row{
    align-items: baseline;
}
/*header middle style*/
.beshop-header .site-title {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
h1.site-title a {
  font-size: 72px;
  color:#4169e1;
}
h1.site-title a:hover {
    text-decoration: none;
}
p.site-description {
    font-size: 18px;
}

p.site-description {
    position: relative;
    display: inline-block;
    padding: 5px 50px;
    z-index: 1;
}

p.site-description:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #E0ECDE;
    z-index: -1;
}
.menu-logo p.site-description:before {
    position: inherit;
}
.menu-logo img {
    max-width: 200px;
    margin-bottom: 0;
    height: auto;
}
.beshop-headerimg-top img {
    width: 100%;
}
/* Widgets - sidebar
--------------------------------------------- */
.widget h2,
h3.widget-title {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    background: #E0ECDE;
    padding: 10px 5px;
    margin-bottom: 20px;
}

.widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.widget ul li {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ededed;
}

.widget ul li:last-child {
    border: none;
}
.widget .search-form label,.widget .search-form label input {
    width: 100%;
}

.widget .search-form input.search-submit {
    width: 100%;
    border: 2px solid #000;
    background: transparent;
    text-transform: uppercase;
    height: 33px;
    color:#000;
}

.widget .search-form input {
    padding: 5px 9px;
    height: 35px;
}

.widget .search-form input.search-submit:hover {
    background: #000;
    color: #fff;
}
h3.widget-title,
h2.widget-title {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    background: #E0ECDE;
    padding: 10px 5px;
    margin-bottom: 20px;
}
.footer-widget, 
.footer-widget p, 
.footer-widget a, 
.footer-widget #wp-calendar caption,
.footer-widget .search-form input.search-submit{
    color: #fff;
}

.footer-widget .widget-title {
    color: #fff;
    text-align: left;
    background: inherit;
    border-bottom: 3px solid #555;
    padding-left: 0;
}
.footer-widget ul li {
    border-bottom: 1px solid #555;
}
.site-info.finfo {
    display: block !important;
}
.site-info.finfo a {
    color: #404040;
    display: inline-block !important;
}
p.footer-copyright {
    margin-bottom: 5px;
}
/*content style*/
.entry-meta, .entry-meta a {
    font-size: 12px;
    color: #0d996f;
}
.sticky .entry-header, 
.tag-sticky-2 .entry-header {
    text-align: center;
    margin-bottom: 2rem;
}
.bshop-list-flex,
.bshop-simple-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.beshop-blog-text,
.beshop-blog-img {
    width: 50%;
}
.beshop-blog-img a {
    display: block;
}
.beshop-blog-img img {
    width: 100%;
    border: 1px solid #ededed;
}

.bshop-list-flex .beshop-blog-img {
    -ms-flex-preferred-size: 550px;
        flex-basis: 550px;
}
.bshop-blog-list .beshop-btext .entry-content {
    margin-top: 0.4em;
}

.beshop-btext,.bshop-simple-list.hasimg,
.widget-area .widget,
.site-footer,
.archive-header,
.search-header,
.beshop-page,
.site-main .comment-navigation, 
.site-main .posts-navigation, 
.site-main .post-navigation,
.site-footer,
.bshop-blog-list,
.bshop-single-list,
.comments-area {
    -webkit-box-shadow: 0 0 70px rgba(0,0,0,.11);
            box-shadow: 0 0 70px rgba(0,0,0,.11);
    padding: 20px;
    background: #fff;
}

.beshop-btext {
    margin-left: -120px;
}
.bshop-simple-list.hasimg .beshop-btext {
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    padding: 0 0 0 15px;
    background: transparent;
}
.bshop-simple-list .beshop-btext {
    margin-left: 0;
}
.no-img .beshop-btext{
    margin-left: 0;
}

.beshop-blog-text {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    position: relative;
    overflow: inherit;
}
.no-img .beshop-blog-text {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}
.entry-footer, 
.entry-footer a {
    font-size: 12px;
}
.entry-footer {
    background: #E0ECDE;
    padding: 15px 10px;
    text-align: center;
    margin: 35px 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.page .entry-footer {
    display: inline-block;
    width: auto;
    background: inherit;
}
form.post-password-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
}

form.post-password-form p {
    width: 100%;
}
.entry-footer, .entry-footer a {
    font-size: 12px;
}
.entry-footer span {
    margin-right: 15px;
}

.site-footer,.site-main .comment-navigation, 
.site-main .posts-navigation, 
.site-main .post-navigation {
    background: #E0ECDE;
}
.theme-beshop a#clickTop {
    bottom: 85px;
    right: 10px;
}

@media screen and (max-width: 992px) {
    .beshop-main-menu nav {
        position: relative;
    }

    .beshop-main-menu-container {
        position: absolute;
        left: 0;
        background: #343a40;
        z-index: 99999;
        top: 45px;
        box-shadow: 0px 3px 40px rgba(0,0,0,0.20);
        --webkit--box-shadow: 0px 3px 40px rgba(0,0,0,0.20);
    }
    .d-flex.has-logo-menu {
        flex-flow: row wrap;
    }

    .has-logo-menu .beshop-main-menu {
        text-align: right;
    }
    .menulogo-right .has-logo-menu .beshop-main-menu {
        text-align: left;
    }

    .has-logo-menu .beshop-main-menu ul {
        text-align: left;
    }
    .bshop-list-flex, 
    .bshop-simple-list {
        flex-direction: column;
    }
     h1.site-title a {
        font-size: 50px;
        margin-top: 30px;
        display: block;
    }
    p.site-description {
        font-size: 16px;
    }
    .beshop-blog-text, 
    .beshop-blog-img {
        width: 100%;
        -ms-flex-preferred-size: inherit;
            flex-basis: inherit;
    }
    .beshop-blog-img img {
        margin-bottom: 15px;
    }
    .bshop-list-flex {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
    }
    .beshop-btext {
        margin-left: 0;
    }

    ul#btop-menu {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }
    .beshop-tophead {
        text-align: center;
    }
    .header-top-search {
        width: 200px;
        margin: 10px 0 2px auto;
    }
    .beshop-tophead .col-lg-auto {
        margin: 0 0 6px 0;
    }
    .topmenu-serch {
        flex-flow: column wrap;
        align-items: center;
    }
    .topmenu-serch.bsearch-popup {
        flex-flow: row wrap;
    }
    


}

@media only screen and (max-width: 767px) {
    .headerlogo-text .container.pb-5.pt-5 {
        padding: 5px 0 !important;
    }
    h1.site-title a {
        font-size: 40px;
        margin-top: 30px;
        display: block;
    }
    p.site-description {
        font-size: 14px;
    }
    .theme-beshop a#clickTop {
        bottom: 20px;
        right: 10px;
    }
    .header-top-search {
        margin: 10px auto 2px auto;
    }
    .topmenu-serch.bsearch-popup {
        flex-flow: row wrap;
        justify-content: center;
    }

}

@media only screen and (max-width: 480px) {
    .d-flex.has-logo-menu {
        flex-flow: column wrap;
    }

}
